@media (max-width: 600px) {



    .right{
    gap: 5px;
    margin: 1px;
    padding: 5px;
}

.nav2{
    display: none;

}

  .content {
    width: 100%;
    height: calc(100% - 120px);
  }


  .text-container {
    width: 100%;
    height: 40%;
    display: flex;
    overflow-x: auto;
  }

  .element {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .element h1 {
    font-size: 42px; 
  }

 
  .image {
    width: 100%;
    height: 60%;
    overflow: hidden;   
  }

  

}
